doctype
html
	head
		meta(chaset="utf-8")
		link(rel="styleSheet",href="/stylesheets/command.css")
		link(rel="styleSheet",href="/stylesheets/slider.css")
		link(rel="styleSheet",href="/stylesheets/all.css")
	body
		include header.jade
		include slider.jade
		section.clear#course
			ul.aside.fl
				li
					a(href="#",target="all") 全部
						span
				li
					a(href="#",target="ios") ios
						span
				li
					a(href="#",target="html5") HTML5
						span
				li
					a(href="#",target="unity") Unity-3D
						span
				li
					a(href="#",target="react") React Native
						span
			div.list.fl
				ul.top.clear
					li
						a(href="#",target="all") 全部
					li
						a(href="#",target="zhibo") 直播课程
					li
						a(href="#",target="dian") 点播课程
				ul.below
					//li.all.active
					//li.ios
					//li.html
					//li.unity
					//li.react
			div.page.fl
				div
					a(href="#").first 首页
					a(href="#").prev 上一页
					a(href="#").next 下一页
					a(href="#").end 尾页
					a(href="#").num 第
						input(type="text",value="1",disabled)
						span 页
					span.row 共 2 页
		include footer.jade
	script(type="text/javascript",src="/javascripts/jquery.js")
	script(type="text/javascript",src="/javascripts/command.js")
	script(type="text/javascript",src="/javascripts/slider.js")
	script(type="text/javascript",src="/javascripts/all.js")