footer
	div.foot
		h1
		p 精英吧是由北京才信教育科技有限公司创建并运营的在线教育平台，是<br>国内唯一一家专注精品课程和学习效果考察的在线教育网站。
		ul.care
			li 关注我们：
			li
				a(href="#")
					img(src="/images/code2.png")
			li
				a(href="#")
					img(src="/images/code.png")
		div.center
			ul.help
				li 帮助
				li
					a(href="#") 常见问题
				li
					a(href="#") 版权声明
				li
					a(href="#") 服务条款
			ul.course
				li 现有课程
				li
					a(href="#") HTML5
				li
					a(href="#") Unity3D
				li
					a(href="#") More>>
			ul.back
				li 反馈方式
				li 电子邮箱：help@jingyingba.com
				li 微信反馈：精英吧（jingyingbacom）
				li 微博反馈：才信教育
		ul.app
			li
				a(href="#") 口袋精英APP
					img(src="/images/app_code.png")
			li
				a(href="#") 官方网站
			li
				a(href="#")
					img(src="/images/10000.png")
					span 机构入驻
	div.foot-bottom
		ul
			li 才信教育©2015-2017
			li
				a(href="#") 京ICP备16013954号
