*{
	margin: 0;
	padding:0;
	text-decoration: none;
	list-style: none; 
}
body{
	min-width: 1225px;
}
header{
	width: 970px;
	height: 90px;
	margin: 0 auto;
	position: relative;
}
header a img{
	position: absolute;
	top: 26px;
}
.faxian{
	position: absolute;
	top: 30px;left: 114px;
}
header ul{
	float: right;
}
header ul li{
	float: left;
	position: relative;
	top: 38px;
}
header ul li:nth-child(2){
	margin-left: 50px;
}
header ul li:nth-child(3){
	margin-left: 41px;
}
header ul a{
	font-size: 14px;
	color: #666666;
}
header ul a:hover{color: #29b572}
section{
	width: 100%;
	height: 600px;
	background: url(../img/login_bg.jpg);
}
p{
	font-size: 14px;
	color: #838080;
	position: absolute;
	top: 711px;left: 351px;
}
.box{
	width: 320px;
	height: 500px;
	box-sizing: border-box;
	padding:0 30px;
	background: #eef5ec;
	position: absolute;
	right: 0px;top: 166px;
}
.sign{
	width: 160px;
	height: 51px;
	box-sizing: border-box;
	background: #fff;
	text-align: center;
	line-height: 51px;
	font-size: 16px;
	position: absolute;
	top: 0px;
}
.in{
	left: 0px;
	color: #616161;
	border-bottom: 1px solid #cfcfcf;
}
.up{
	right: 0px;
	color: #29b572;
	border-bottom: 2px solid #29b572;	
}
.in:hover{
	color: #29b572;
	border-bottom: 2px solid #29b572;
}
form{
	width: 260px;
	position: absolute;
	top: 87px;
}
.inp{
	width: 260px;
	height: 40px;
	box-sizing: border-box;
	font-size: 14px;
	outline: none;
	color: #b4b4b4;
}
.duany{
	width: 160px;
}
.duanx{
	width: 92px;
	height: 32px;
	box-sizing: border-box;
	border-radius: 2px;
	border: 1px solid #29b572;
	font-size: 12px;
	color: #29b572;
	background: #fff;
	margin-left: 4px;
	outline: none;
}
.duany,.pass1,.pass2{
	margin-top: 15px;
}
#tyi{
	margin-top: 20px;
}
label{
	font-size: 12px;
	color: #848585;
}
.btn{
	width: 260px;
	height: 40px;
	background: #29b572;
	font-size: 14px;
	color: #fff;
	border:none;
	outline: none;
	margin-top: 10px;
}



















