.aboutlow{
	width: 941px;
	height: 980px;
	position: absolute;
	top: 64px;
	box-sizing: border-box;
	padding-left: 36px;
	padding-top: 9px;
}
.aboutlow p{
	text-indent: 2em;
	font-size: 18px;
	font-family:Microsoft YaHei;
	color:#646464;
	line-height: 30px;  
	margin-top: 5px;
	letter-spacing: 0.72px;
}
























