.center{
	width: 1200px;
	margin: 50px auto 0;
	position: relative;
}
.sidebartop{
	width: 240px;
	height: 68px;
	background: #33a7fd;
	color: white;
	text-align: center;
	padding: 10px 0;
	box-sizing: border-box;
}
.sidebartop h3{
	font-size: 28px;
}
.sidebartop p{
	margin-top: -10px;
	font-size: 14px;
}
.sidebar ul{
	width: 240px;
	height: 680px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: 1px solid #e1e1e1;
	overflow: hidden;
}
.sidebar ul li{
	width: 240px;
	height: 45px;
	font-size: 20px;
}
.sidebar ul li a{
	display: inline-block;
	width: 190px;
	height: 45px;
	line-height: 45px;
	margin-left: 25px;
	font-size:20px;
}
.xialine{
	height: 1px;
	width: 238px;
	margin-left: -25px;
	background: linear-gradient(left,#f8f8f8 0%,#e3e3e3 50%,#f8f8f8 100%);
	background: -webkit-linear-gradient(left,#f8f8f8 0%,#e3e3e3 50%,#f8f8f8 100%);
	background: -moz-linear-gradient(left,#f8f8f8 0%,#e3e3e3 50%,#f8f8f8 100%);
}
.sidebar ul li a span{
	display: inline-block;
	width: 0px;
	height: 0px;
	position: relative;
	border: 6px solid transparent;
	border-left-color: #0091fd; 
	transform-origin: 3px 6px;
	transition: 0.3s;
	margin-right: 8px;
}
.sidebar ul li a:hover{
	color: #0091fd;
}
.sidebar ul li a:hover span{
	transform: rotate(90deg);
}
.contact{
	width: 240px;
	height: 256px;
	position: relative;
}
.contact ul{
	height: 188px;
	margin-bottom: 65px;
	box-sizing: border-box;
	border: 1px solid #e1e1e1;
	overflow: hidden;
}
.contact ul li{
	padding: 0 10px;
	height: 40px;
	font-size: 18px;
	padding-top: 10px;
	box-sizing: border-box;
}
.contact ul li span{
	color: #0091fd;
}
.contact ul li small{
	font-size: 18px;
}
.contact ul .li4 div{
	font-size: 18px;
	margin-top: -25px;
	margin-left: 45px;
}


.this{
	width: 941px;
	height: 981px;
	position: absolute;
	right: 0;
	top: 0;
}
.thistop{
	width: 941px;
	height: 63px;
	box-sizing: border-box;
	padding-top: 36px;
	padding-bottom: 10px;
	border-bottom:2px solid #e1e1e1; 
	position: absolute;
}
.kuai{
	width: 6px;
	height: 23px;
	background: linear-gradient(#3aa9fc 12px,#0091fd 11px);
	position: absolute;
	bottom: 9px;
}
.thissp{
	font-size: 20px;
	color: #0091fd;
	font-family:'Microsoft YaHei';
	position: absolute;
	left:16px;
	top: 25px;
}
.thisright{
	float: right;
	position: relative;
	top: -4px;
}
.thisright span{
	color:#646464;
	font-size: 16px;
	font-family: 'SimSun';
}
.thisright a{
	color:#646464;
	font-size: 16px; 
	font-family:'SimSun';
}
.thisa1{
	position: relative;
	left: -8px;
}
.thisa1:hover,.thisa2:hover{
	color: red;
}
.thissp1{
	position: relative;
	left: -11px;
}
.thissp2{
	position: relative;
	left: -4px;
}



































