footer{
	border-top: 1px solid #b2b1b1;
}
.footerbox{
	width: 1301px;
	height: 246px;
	margin: 0 auto;
	position: relative;
	font-size: 14px;
}
.help{
	position:absolute;
	top: 46px;left: 50%;
	margin-left: -201px;
}
.help li{
	float: left;
	color: #cfcfcf;
}
.help li:nth-child(2){
	margin-left: 142px;
}
.help li:nth-child(3){
	margin-left: 120px;
}
.introduce li,.story li,.web li{
	margin-top: 9px;
}
.introduce{
	position: absolute;
	top: 64px;left: 450px;
}
.story{
	position: absolute;
	top: 64px;left: 619px;
}
.web{
	position: absolute;
	top: 64px;left: 796px;
}
.footerbox ul li a{
	color: #989898;
}
.footerbox ul li a:hover{
	color: #000;
	text-decoration: underline;
}




