.hy{
	width: 1306px;
	height: 708px;
	margin: 0 auto;
	position: relative;
	font-size: 20px;
	color: #080808;
}
.hy a{
	color: #2d2d2d;
}
.account{
	position: absolute;
	left: 39px;top: 114px;
}
.account li{
	margin-top: 23px;
}
.myac{
	width: 250px;
	position: absolute;
	left: 250px;top: 150px; 
	display: none;      
}
.myac span{
	position: absolute;
	top: -45px;left: 0px;
}
.myac #name{
	width: 205px;
	height: 26px;
	border:1px solid #4e4d4e;
	position: absolute;
	top: 34px;left: 0px;
}
.myac #email{
	width: 432px;
	height: 26px;
	border:1px solid #4e4d4e;
	position: absolute;
	top: 118px;left: 0px;
}
.myac #password{
	width: 432px;
	height: 26px;
	border:1px solid #4e4d4e;
	position: absolute;
	top: 221px;left: 0px;
}
.myac label{
	position: absolute;
}
.myac .lb1{
	top: 0px;
}
.myac .lb2{
	top: 83px;
}
.myac .lb3{
	top: 184px;
}
.myac .lb4{
	top: 284px;
}
.myac .lb5{
	top: 284px;left: 240px;
}
input[type=checkbox]{
	position: absolute;
	top: 283px;
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	border:1px solid #4e4d4e;
}
#nan{
	left: 60px;
}
#nv{
	left: 284px;
}
.keep{
	width: 194px;
	height: 31px;
	background: #808080;
	color: #c2bfbf;
	border:none;
	position: absolute;
	top: 338px;
}
.order{
	position: absolute;
	top: 95px;left: 253px;
	width: 1004px;
	display: none;
}
.order span{
	position: absolute;
	top: 0;left: 0;
}
.order ul{
	width: 1004px;
	position: absolute;
	top: 45px;left: 0px;
	border-bottom: 1px dashed #4e4d4e;
	padding-bottom: 26px;
}
.order ul li{
	float: left;
	letter-spacing: 3px;
}
.order .collect{
	margin-left: 127px;
}
.order .detail{
	margin-left: 195px;
}
.order .dollar{
	margin-left: 315px;
}                                                   
.order .date{
	position: absolute;
	top: 118px;
}
.order .people{
	position: absolute;
	top: 118px;left: 173px;
}
.order .content{
	position: absolute;
	top: 118px;left: 435px;
}
.order .money{
	position: absolute;
	top: 118px;left: 838px;
}
#show{
	display: block;
}
.address{
	position: absolute;
	top: 91px;left: 260px;
	display: none;
}
.address button{
	width: 194px;
	height: 31px;
	background: #808080;
	color: #fffafa;
	border:none;
	font-size: 20px;
	letter-spacing: 3px;
	position: absolute;
	top: 255px;
}
.address .info{
	position: absolute;
	top: 49px;
}
.address .info div{
	padding-bottom: 14px;
	border-bottom: 1px dashed black;
	position: relative;
}
.address .info div .span2{
	position: absolute;
	right: 0;
}
.address .info p{
	margin-top: 10px;
}
.address .info .p1{
	margin-top: 14px;
}










