doctype
html
	head
		meta(charset="utf-8")
		title 商品购买
		link(rel="styleSheet",href="../css/command.css")
		link(rel="styleSheet",href="../css/header.css")
		link(rel="styleSheet",href="../css/footer.css")
		link(rel="styleSheet",href="../css/buy.css")
		link(rel="styleSheet",href="../css/enroll.css")
	body
		include header.jade
		div.buytop
			div.smallpic
				img(src="../img/buybag1.png")
				span
				div#show
			div.bigpic
				img(src="../img/buybag1.png")
			ul
				li.have
					img(src="../img/buybag1.png")					
				li
					img(src="../img/buybag2.png")						
				li
					img(src="../img/buybag3.png")				
				li
					img(src="../img/buybag4.png")
				li
					img(src="../img/buybag5.png")
			div.juz
				p 麦塔帆布双肩包<br>￥349
				a(href="#")
					i 传统零售店售价￥1200
			div.style
				span 颜色
				div.kuang
					div
						img(src="../img/color.png")
					p 斜纹牛仔布<br>黑色牛皮
				button.car 加入购物袋
				div.free 免邮费
		div.buycen
			img(src="../img/wenzi.png")
		div.buyboo
			span FROM THE PEOPLE
			img(src="../img/people.png").pic1
			img(src="../img/tou.png")
		include footer.jade
		include enroll.jade
	script(type="text/javascript",src="../js/header.js")
	script(type="text/javascript",src="../js/buy.js")
	script(type="text/javascript",src="../js/enroll.js")
	script(type="text/javascript",src="../js/member.js")