div.enrollone
	div.enroll
		span.span1 x
		span.span2 加入 META 会员计划
		p 市场上的产品，<br>一般都是8倍于其成本进行销售,<br>但是，在META绝不是这样<br>我们将会坚持我们的极致透明策略,<br>去除一切中间商，减少供应链，提供<br>优质、低廉价格的设计师产品。
		label(for="post") 邮箱
		input(type="email")#post
		a(href="#").create 创建账户
		a(href="#").sina 微博账户登录
			img(src="../img/sina.png")
		a(href="#").qq qq账户登录
			img(src="../img/qq.png")
	a(href="#").ever 已注册？登录
div.enrolltwo
	div.enroll2
		span.span1 x
		span.span2 注册即将完成
		label(for="name").lb1 姓名
		input(type="text")#name
		label(for="password").lb2 密码
		input(type="password")#password
		label(for="call").lb3 手机号码
		input(type="text")#call
		div 登录中
div.enrollthree
	div.enroll3
		span.span1 x
		span.span2 - 欢迎回来 -
		img(src="../img/logo.png").logo
		a(href="#").sina 微博账户登录
			img(src="../img/sina.png")
		a(href="#").qq qq账户登录
			img(src="../img/qq.png")
		span.span3 - or -
		label(for="youx").lb1 邮箱
		input(type="text")#youx
		label(for="password").lb2 密码
		input(type="password")#password
		button 登录
		a(href="#").forget 忘记密码？点击这里
	a(href="#").wei 注册META