header
	div.headerbox 
		a(href="member.html").join 加入会员，首单免邮
		div.sign
			a(href="#").signup 注册
			span |
			a(href="#").signin 登陆
		div.shop
			a(href="#") 购物袋
			a(href="#")
				img(src="../img/shop.png")
		img(src="../img/logo.png").logo
		ul
			li
				a(href="buy.html") 产品目录
			li
				a(href="story.html") 工厂故事
			li 
				a(href="#") 优惠策略
			li
				a(href="about.html") 关于我们