doctype
html
	head
		meta(charset="utf-8")
		title 主页
		link(rel="styleSheet",href="../css/command.css")
		link(rel="styleSheet",href="../css/header.css")
		link(rel="styleSheet",href="../css/footer.css")
		link(rel="styleSheet",href="../css/main.css")
		link(rel="styleSheet",href="../css/enroll.css")
	body
		include header.jade
		div.slider
		div.bagbox
			div.double
				h3 双肩包系列
				ul
					li
						a(href="#")
							img(src="../img/bag1.png").pic1
							h4 麦塔双肩包 - ￥349
							div.mask 加入购物袋
					li
						a(href="#")
							img(src="../img/bag2.png").pic2
							h4 麦塔双肩包 - ￥349
							div.mask.ma2 加入购物袋
					li
						a(href="#")
							img(src="../img/bag3.png").pic3
							h4 麦塔双肩包 - ￥349
							div.mask.ma3 加入购物袋
					li
						a(href="#")
							img(src="../img/bag4.png").pic4
							h4 麦塔双肩包 - ￥349
							div.mask 加入购物袋
					li
						a(href="#")
							img(src="../img/bag5.png").pic5
							h4 麦塔双肩包 - ￥349
							div.mask.ma5 加入购物袋
			div.single
				h3 单肩包系列
				ul
					li
						a(href="#")
							img(src="../img/bag6.png").pic6
							h4 麦塔双肩包 - ￥349
							div.mask 加入购物袋
					li
						a(href="#")
							img(src="../img/bag7.png").pic7
							h4 麦塔双肩包 - ￥349
							div.mask.ma7 加入购物袋
					li
						a(href="#")
							img(src="../img/bag8.png").pic8
							h4 麦塔双肩包 - ￥349
							div.mask.ma8 加入购物袋
					li
						a(href="#")
							img(src="../img/bag9.png").pic9
							h4 麦塔双肩包 - ￥349
							div.mask 加入购物袋
			div.wash
				h3 洗漱包系列
				ul
					li
						a(href="#")
							img(src="../img/bag10.png").pic10
							h4 麦塔双肩包 - ￥349
							div.mask 加入购物袋
					li
						a(href="#")
							img(src="../img/bag11.png").pic11
							h4 麦塔双肩包 - ￥349
							div.mask.ma11 加入购物袋
		include footer.jade
		include enroll.jade
		script(type="text/javascript",src="../js/main.js")
		script(type="text/javascript",src="../js/enroll.js")
		script(type="text/javascript",src="../js/member.js")