doctype
html
	head
		meta(charset="utf-8")
		title 关于我们
		link(rel="styleSheet",href="../css/command.css")
		link(rel="styleSheet",href="../css/header.css")
		link(rel="styleSheet",href="../css/footer.css")
		link(rel="styleSheet",href="../css/aside.css")
		link(rel="styleSheet",href="../css/about.css")
	body
		include header.jade
		div.center
			include aside.jade
			div.this
				div.thistop
					div.kuai
					span.thissp 关于我们
					div.thisright
						span.thissp1 当前所在的位置:
						a(href="main.html").thisa1 首页
						span.thissp2 >
						a(href="about.html").thisa2 关于我们
				div.aboutlow
					p 大肚子桶业（北京）有限公司从成立到现在，经历了多年的风雨洗礼，乘风破浪，一路成长过来，<br>在业界因取得的骄人业绩而备受瞩目。成功打造我们的“大肚子”品牌及门户网“大肚子桶业”
					p 以知识产权为先导的大肚子桶业（北京）有限公司是我国第一个将公共环境设施科技化、产业化的<br>企业，产品涉及环卫设施。交通设施、园林设施等领域，其涉及垃圾桶、果皮箱、垃圾箱、室外垃圾<br>桶、酒店垃圾桶、广告垃圾桶、金属垃圾桶、分类垃圾桶、塑料垃圾桶、园林椅、酒店用品等产品被广<br>泛用于城市广场、市政、街道、房产业、物业、饭店、厂矿、学校等各类场所，构建了丰富多彩的城<br>市风景线。
					p 作为中国环保科技领域的领先企业，大肚子桶业（北京）有限公司汇集了建设部、清华大学、北京<br>工业大学等方面的专业设计人员，在产品设计上紧密结合现代城市设计理念，并积极推动新材料、新工<br>艺、新概念的应用，创造出最多具有国际水准的环境设施产品。
					p 公司在北京有大型的生产基地,年产量有100万只垃圾桶,公司在北京有大型仓库,120L 240L等各种<br>材质垃圾桶上万只库存,公司永葆创业创新的激情，以技术、人才、产品、服务为先导，以超前的思<br>维、国际化的标准正向国际级环保企业大步迈进。
					p 公司今年开始准备在全国建立起完整的销售网点，现已经在山东、四川、东北三省、内蒙、新疆、<br>河南、河北、安徽等地区建立办事处。在配合自己良好的物流配送，以快速度，高质量满足客户的需<br>求。
					p 我们与北京2008奥运会组委会、北京市市政市容管理委员会及市区市政市容管理委员会、国家图<br>书馆、北京电视台等单位的愉快合作！并在跟他们的合作过程中积累了丰富经验，我们有信心凭着我们<br>的经验和底蕴，以及一直以来团结拼搏的精神，和我们的用户一起去迎接辉煌。
		include footer.jade
	script(type="text/javascript",src="../js/header.js")