div.main
	div.sidebar
		div.sidebartop
			h3 产品分类
			P Product Category
		ul
			li
				a(href="#")
					span
					不锈钢垃圾桶
					div.xialine
			li
				a(href="#")
					span
					玻璃钢垃圾桶
					div.xialine
			li
				a(href="#")
					span
					钢制垃圾桶
					div.xialine
			li
				a(href="#")
					span
					钢木垃圾桶
					div.xialine
			li
				a(href="#")
					span
					塑料垃圾桶
					div.xialine
			li
				a(href="#")
					span
					带广告位垃圾桶
					div.xialine
			li
				a(href="#")
					span
					户外单桶垃圾桶
					div.xialine
			li
				a(href="#")
					span
					户外双桶垃圾桶
					div.xialine
			li
				a(href="#")
					span
					室内垃圾桶
					div.xialine
			li
				a(href="#")
					span
					垃圾车/斗车
					div.xialine
			li
				a(href="#")
					span
					公园坐凳--无靠背
					div.xialine
			li
				a(href="#")
					span
					带广告位垃圾桶
					div.xialine
			li
				a(href="#")
					span
					户外单桶垃圾桶
					div.xialine
			li
				a(href="#")
					span
					户外双桶垃圾桶
					div.xialine
			li
				a(href="#")
					span
					户外双桶垃圾桶
	div.contact
		div.sidebartop
			h3 联系我们
			p Contact us
		ul
			li
				span 电话：
				small 13522216911
			li
				span Q Q：
				small 58409503
			li
				span 邮箱：
				small 58409503@qq.com
			li.li4
				span 地址：
				div 北京市海淀区清河小<br>营6号