doctype
html
	head
		meta(charset="utf-8")
		title 联系我们
		link(rel="styleSheet",href="../css/command.css")
		link(rel="styleSheet",href="../css/header.css")
		link(rel="styleSheet",href="../css/footer.css")
		link(rel="styleSheet",href="../css/aside.css")
		link(rel="styleSheet",href="../css/contact.css")
	body
		include header.jade
		div.center
			include aside.jade
			div.this
				div.thistop
					div.kuai
					span.thissp 联系我们
					div.thisright
						span.thissp1 当前所在的位置:
						a(href="main.html").thisa1 首页
						span.thissp2 >
						a(href="contact.html").thisa2 联系我们
				div.contactlow
					div.contactstyle
						div
							span 电话：
							small 13522216911
						div
							span Q Q：
							small 58409503
						div
							span 邮箱：
							small 58409503@qq.com
						div
							span 网址：
							small www.ddzty.com
						div
							span 地址：
							small 北京市海淀区清河小营6号
					span#maptitle 公司地图
					div#dituContent
					div#mapinput
						input(type="text").input1
						input(type="button",value="搜索",onclick="searchMap()").input2
		include footer.jade
	script(type="text/javascript",src="../js/header.js")
	script(type="text/javascript",src="../js/contact.js")