doctype
html
	head
		meta(charset="utf-8")
		title 垃圾桶
		link(rel="styleSheet",href="../css/command.css")
		link(rel="styleSheet",href="../css/header.css")
		link(rel="styleSheet",href="../css/footer.css")
		link(rel="styleSheet",href="../css/aside.css")
		link(rel="styleSheet",href="../css/dustbin.css")
	body
		include header.jade
		div.center
			include aside.jade
		include footer.jade
	script(type="text/javascript",src="../js/header.js")