div.footer
	div.foot
		div.foot-left
			ul
				li
					a(href="#") 首页
				li |
				li
					a(href="#") 关于我们
				li |
				li
					a(href="#") 垃圾桶
				li |
				li
					a(href="#") 园林椅
				li |
				li
					a(href="#") 企业资讯
				li |
				li
					a(href="#") 成功案例
				li |
				li
					a(href="#") 联系我们
			p 烟台凯龙环保科技有限公司<br/>京ICP备09079167号
		div.hotline
			p 24小时服务热线
			p 15666558918
		div.scan
			img(src="../img/erweima.png")
			p 关注微信 扫一扫