doctype
html
	head
		meta(charset="utf-8")
		title 新闻资讯
		link(rel="styleSheet",href="../css/command.css")
		link(rel="styleSheet",href="../css/header.css")
		link(rel="styleSheet",href="../css/footer.css")
		link(rel="styleSheet",href="../css/aside.css")
		link(rel="styleSheet",href="../css/news.css")
	body
		include header.jade
		div.center
			include aside.jade
			div.this
				div.thistop
					div.kuai
					span.thissp 新闻资讯
					div.thisright
						span.thissp1 当前所在的位置:
						a(href="main.html").thisa1 首页
						span.thissp2 >
						a(href="news.html").thisa2 新闻资讯
				div.below
					ul
						li
							a(href="#")
								div.imgdiv
									img(src="../img/anli.png",width="100%")
							div.textdiv
								a(href="#")
									h2.【河南】环保垃圾桶就选大肚子桶业，为您省钱
								span 精明的客户，永远都会货比三家！一直都很理解去买东西的时候，会货比三家，其中，平顶山祥和物业就非常好，非常专业的讲解和人员，李不像其他人员，其中<a href="#"><i>【详细】</i></a>
						li
							a(href="#")
								div.imgdiv
									img(src="../img/anli.png",width="100%")
							div.textdiv
								a(href="#")
									h2.【河南】环保垃圾桶就选大肚子桶业，为您省钱
								span 精明的客户，永远都会货比三家！一直都很理解去买东西的时候，会货比三家，其中，平顶山祥和物业就非常好，非常专业的讲解和人员，李不像其他人员，其中<a href="#"><i>【详细】</i></a>
						li
							a(href="#")
								div.imgdiv
									img(src="../img/anli.png",width="100%")
							div.textdiv
								a(href="#")
									h2.【河南】环保垃圾桶就选大肚子桶业，为您省钱
								span 精明的客户，永远都会货比三家！一直都很理解去买东西的时候，会货比三家，其中，平顶山祥和物业就非常好，非常专业的讲解和人员，李不像其他人员，其中<a href="#"><i>【详细】</i></a>
						li
							a(href="#")
								div.imgdiv
									img(src="../img/anli.png",width="100%")
							div.textdiv
								a(href="#")
									h2.【河南】环保垃圾桶就选大肚子桶业，为您省钱
								span 精明的客户，永远都会货比三家！一直都很理解去买东西的时候，会货比三家，其中，平顶山祥和物业就非常好，非常专业的讲解和人员，李不像其他人员，其中<a href="#"><i>【详细】</i></a>
						li
							a(href="#")
								div.imgdiv
									img(src="../img/anli.png",width="100%")
							div.textdiv
								a(href="#")
									h2.【河南】环保垃圾桶就选大肚子桶业，为您省钱
								span 精明的客户，永远都会货比三家！一直都很理解去买东西的时候，会货比三家，其中，平顶山祥和物业就非常好，非常专业的讲解和人员，李不像其他人员，其中<a href="#"><i>【详细】</i></a>
					div.paging
						a(href="#").page 首页
						a(href="#").pre 上一页
						a(href="#").active 1
						a(href="#") 2
						a(href="#") 3
						a(href="#") ...
						a(href="#") 98
						a(href="#").next 下一页
						a(href="#").back 尾页
						span 第
							input(type="text")
							span 页
						a(href="#").jump 跳转
		include footer.jade
	script(type="text/javascript",src="../js/header.js")