header
	div.head.clear
		a(href="index.html").logo.fl
		div.search.fl
			a(href="rank.html") 排行榜
			input(type="text",placeholder="大家都在搜...")
			img(src="../img/search.png")
			input(type="submit",value="搜索")
		div.member.fl
nav
	div.nav
		ul.clear
			li
				a(href="index.html") 首页
					div
			li
				a(href="list.html")
					img(src="../img/movie.png")
					span 电影
					div
			li
				a(href="list.html")
					img(src="../img/tv.png")
					span 电视剧
					div
			li
				a(href="list.html")
					img(src="../img/show.png")
					span 综艺
					div
			li
				a(href="list.html")
					img(src="../img/cartoon.png")
					span 动漫
					div
			li
				a(href="list.html")
					img(src="../img/all.png")
					span 全部影片
					div