doctype
html
	head
		meta(charset="utf-8")
		title 列表页
		link(rel="styleSheet",href="../css/command.css")
		link(rel="styleSheet",href="../css/list.css")
	body
		include header.jade
		div.select
			ul.ul1.clear
				li 频道 :
				li
					a(href="#") 全部
				li
					a(href="#") 电影
				li
					a(href="#") 电视剧
				li
					a(href="#") 综艺
				li
					a(href="#") 动漫
			ul.ul2.clear
				li 类型 :
				li
					a(href="#") 全部
				li
					a(href="#") 喜剧
				li
					a(href="#") 爱情
				li
					a(href="#") 动作
				li
					a(href="#") 恐怖
				li
					a(href="#") 科幻
				li
					a(href="#") 剧情
				li
					a(href="#") 犯罪
				li
					a(href="#") 古装
				li
					a(href="#") 战争
				li
					a(href="#") 悬疑
				li
					a(href="#") 伦理
				li
					a(href="#") 传记
				li
					a(href="#") 记录
				li
					a(href="#") 动画
			ul.ul3.clear
				li 地区 :
				li
					a(href="#") 全部
				li
					a(href="#") 美国
				li
					a(href="#") 大陆
				li
					a(href="#") 香港
				li
					a(href="#") 韩国
				li
					a(href="#") 日本
				li
					a(href="#") 法国
				li
					a(href="#") 英国
				li
					a(href="#") 德国
				li
					a(href="#") 台湾
				li
					a(href="#") 泰国
				li
					a(href="#") 印度
				li
					a(href="#") 其他
			ul.ul4.clear
				li 年代 :
				li
					a(href="#") 全部
				li
					a(href="#") 2016
				li
					a(href="#") 2015
				li
					a(href="#") 2014
				li
					a(href="#") 2013
				li
					a(href="#") 2012
				li
					a(href="#") 2011
				li
					a(href="#") 2010
				li
					a(href="#") 2009
				li
					a(href="#") 2008
				li
					a(href="#") 2007
				li
					a(href="#") 2006
				li
					a(href="#") 其他
			ul.ul5.clear
				li 明星 :
				li
					a(href="#") 全部
				li
					a(href="#") 胡歌
				li
					a(href="#") 张智霖
				li
					a(href="#") 霍建华
				li
					a(href="#") 杨洋
				li
					a(href="#") 李易峰
				li
					a(href="#") 杨幂
				li
					a(href="#") 约翰尼.德普
				li
					a(href="#") 彭于晏
				li
					a(href="#") 黎姿
				li
					a(href="#") 赵丽颖
				li
					a(href="#") 张柏芝
				li
					a(href="#") 范冰冰
				li
					a(href="#") 黄渤
				li
					a(href="#") 孙红雷
			ul.ul6.clear
				li 来源 :
				li
					a(href="#") 全部
				li
					a(href="#") 优酷
				li
					a(href="#") 爱奇艺
				li
					a(href="#") pptv
				li
					a(href="#") 芒果tv
			div.fenge
			ul.chose.clear
				li 已选择 :
		div.show
			ul.clear
				//li
					a(href="#")
						img(src="../img/banner1.jpg")
						div
							p 名字
							small 主演
		div.page
			ul.clear
				li
					a(href="#").prev 上一页
				li
					a(href="#") 1
				li
					a(href="#") 2
				li
					a(href="#") 3
				li
					a(href="#") 4
				li
					a(href="#") 5
				li
					a(href="#") 6
				li
					a(href="#") 7
				li
					a(href="#") 8
				li
					a(href="#") 9
				li
					a(href="#") 10
				li
					a(href="#").next 下一页
		include footer.jade
	script(src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
	script(type="text/javascript",src="../js/command.js")
	script(type="text/javascript",src="../js/list.js")