doctype
html
	head
		meta(charset="utf-8")
		title 排行榜
		link(rel="styleSheet",href="../css/command.css")
		link(rel="styleSheet",href="../css/rank.css")
	body
		include header.jade
		div.rank
			div.filmrank
				div.rankleft 电影TOP10
				ul.clear
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px1.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px2.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px3.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px4.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px5.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px6.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px7.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px8.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px9.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px10.png")
							div
								p 名字
								small 主演
			div.tvrank
				div.rankleft 电视剧TOP10
				ul.clear
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px1.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px2.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px3.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px4.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px5.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px6.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px7.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px8.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px9.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px10.png")
							div
								p 名字
								small 主演
			div.varietyrank
				div.rankleft 综艺TOP10
				ul.clear
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px1.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px2.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px3.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px4.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px5.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px6.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px7.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px8.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px9.png")
							div
								p 名字
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px10.png")
							div
								p 名字
								small 主演
			div.comicrank
				div.rankleft 动漫TOP10
				ul.clear
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px1.png")
							div
								p 主演
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px2.png")
							div
								p 主演
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px3.png")
							div
								p 主演
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px4.png")
							div
								p 主演
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px5.png")
							div
								p 主演
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px6.png")
							div
								p 主演
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px7.png")
							div
								p 主演
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px8.png")
							div
								p 主演
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px9.png")
							div
								p 主演
								small 主演
					li
						a(href="#")
							img(src="../img/banner1.jpg")
							img(src="../img/px10.png")
							div
								p 主演
								small 主演
		include footer.jade
	script(src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
	script(type="text/javascript",src="../js/rank.js")
