doctype
html
	head
		meta(charset="utf-8")
		title 点播课程
		link(rel="styleSheet",href="../css/command.css")
		link(rel="styleSheet",href="../css/course.css")
	body
		include header.jade
		div.dian.top
			img(src="../img/unity.png")
			h2 C#语言入门
			span.span1 总课时
				p 365天
			span.span2 标准学习时间
				p 90天
			div
		div.dian.boo
			ul
				li
					div.litop
						span 第1课
						div 下载并安装MonoDevelop
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习下载安装Unity 和 MonoDevelop，并会创建并第一个 C# 工程运行
						small (13'40")
						a(href="signin.html") 开始学习
				li
					div.litop
						span 第2课
						div C# 编译过程
					div.liboo
						div.sanj
							span
						p 本节课我们主要了解一下 C# 的编译过程，还会掌握语句的概念以及注释的用法
						small (20'5")
						a(href="signin.html") 开始学习
				li
					div.litop
						span 第3课
						div 二进制
					div.liboo
						div.sanj
							span
						p 本节课我们主要了解二进制的意义，以及二进制和十进制得相互转换，还会了解八进制、十六进制
						small (20'44")
						a(href="signin.html") 开始学习		
				li
					div.litop
						span 第4课
						div 变量和常量
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习变量的声明和初始化，以及常量的使用
						small (22'3")
						a(href="signin.html") 开始学习
				li
					div.litop
						span 第5课
						div 基本数据类型
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习 C# 中常用的数据类型，包括整型、浮点型、字符串等类型
						small (16'15")
						a(href="signin.html") 开始学习	
				li
					div.litop
						span 第6课
						div 运算符和表达式
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习 C# 中的基本运算符，以及运算符的优先级和结合性，还会了解表达式的概念
						small (24'11")
						a(href="signin.html") 开始学习		
				li
					div.litop
						span 第7课
						div 类型转换
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习不同类型之间的相互转换，包括自动转换和强制转换
						small (21'22")
						a(href="signin.html") 开始学习
				li
					div.litop
						span 第8课
						div 使用字符串
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习字符串的用法，包括字符串拼接，转义字符等
						small (16'23")
						a(href="signin.html") 开始学习	
				li
					div.litop
						span 第9课
						div 控制台输入输出
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习控制台输出和输入，还会学习格式化输出的方法
						small (19'15")
						a(href="signin.html") 开始学习		
				li
					div.litop
						span 第10课
						div 关系运算和逻辑运算
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习关系运算符和逻辑运算符，以及关系运算和逻辑运算
						small (21'13")
						a(href="signin.html") 开始学习		
				li
					div.litop
						span 第11课
						div If 判断语句
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习 If 判断语句的语法，有三种 If 格式
						small (21'16")
						a(href="signin.html") 开始学习	
				li
					div.litop
						span 第12课
						div Switch 分支语句
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习 Switch 分支语句的语法，以及 break 的使用方法
						small (16'10")
						a(href="signin.html") 开始学习	
				li
					div.litop
						span 第13课
						div While 和 DoWhile 循环语句
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习 while 和 dowhile 循环语句的用法，以及它们两者的各自使用场景
						small (17'59")
						a(href="signin.html") 开始学习	
				li
					div.litop
						span 第14课
						div For 循环语句
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习 For 循环语句的语法和特点
						small (20'51")
						a(href="signin.html") 开始学习		
				li
					div.litop
						span 第15课
						div 一维数组
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习一维数组的声明，初始化和使用方法
						small (19'33")
						a(href="signin.html") 开始学习		
				li
					div.litop
						span 第16课
						div 二维数组
					div.liboo
						div.sanj
							span
						p 本节课我们主要学习二维数组的声明，初始化和使用方法
						small (16'11")
						a(href="signin.html") 开始学习	
				li
					div.litop
						span 第17课
						div 迷宫冒险（一）
					div.liboo
						div.sanj
							span
						p 本节课我们通过实践项目来复习学过的知识，要在控制台上做一个简单的游戏，能够控制人物在场景地图中移动
						small (19'28")
						a(href="signin.html") 开始学习
				li
					div.litop
						span 第18课
						div 迷宫冒险（二）
					div.liboo
						div.sanj
							span
						p 本节课我们通过实践项目来复习学过的知识，要在控制台上做一个简单的游戏，能够控制人物在场景地图中移动
						small (20'27")
						a(href="signin.html") 开始学习			
				li
					div.litop
						span 第19课
						div 迷宫冒险（三）
					div.liboo
						div.sanj
							span
						p 本节课我们通过实践项目来复习学过的知识，要在控制台上做一个简单的游戏，能够控制人物在场景地图中移动
						small (21'13")
						a(href="signin.html") 开始学习				
		include footer.jade