footer
	div.foot
		div.footop
			span 友情链接
			ul
				li
					a(href="http://www.immomo.com/") 陌陌科技
				li
					a(href="http://www.chukong-inc.com/") 触控科技
				li
					a(href="http://www.baike.com/") 互动百科
				li
					a(href="http://sh.sofang.com/") 搜房网
			a(href="#").more 更多 >>
		ul.ul1
			li 我们的实验室
			li 
				a(href="introduce.html") 什么是精英吧
		ul.ul2
			li 关于我们
			li
				ol
					li
						a(href="caixin.html") 才信教育简介
					li
						a(href="contact.html") 联系我们
					li
						a(href="join.html") 加入我们
		ul.ul3
			li 现有教程
			li 
				a(href="course.html") unity3D
		ul.ul4
			li 帮助
			li
				ol
					li
						a(href="question.html") 常见问题
					li
						a(href="#") 版权声明
					li
						a(href="#") 服务条款
		ul.ul5
			li 帮助
			li
				ol
					li
						a(href="#") 电子邮箱：help@jingyingba.com
					li
						a(href="#") 微信反馈：精英吧（jingyingbacom）
					li
						img(src="../img/iyba.png")
		div.app
			span 精英吧APP扫描下载
			img(src="../img/app.png")
			small（扫码下载）
		p 才信教育©2015-2017|京ICP备16013954号
	div.xian
	