header
	div.head
		a(href="main.html")
			img(src="../img/log.png")
		img(src="../img/faxian.png").faxian
		a(href="#").weizhi 北京
		ul
			li
				a(href="index.html").active 首页
			li
				a(href="course.html") 点播课程
			li
				a(href="toutiao.html") 互联网头条
			li
				a(href="quiz.html") +提问
		div
			a(href="signin.html") 登陆
			span |
			a(href="signup.html") 注册
