doctype
html
	head
		meta(charset="utf-8")
		title 精英吧首页
		link(rel="styleSheet",href="../css/command.css")
		link(rel="styleSheet",href="../css/index.css")
	body
		include header.jade
		section
			article.sign
				div.signle
					a(href="introduce.html")
						img(src="../img/banner1.png").banner
						img(src="../img/banner2.png")
						img(src="../img/banner3.png")
					ol
						li.active
						li
						li
				div.signri
					a(href="#")
						img(src="../img/user.png").userpic
					p.p1 Hi，
					span.user 您好!
					p.p2 欢迎来到精英吧。
					a(href="signin.html").asign.in 登陆
					a(href="signup.html").asign.up 注册
					div.bian.b1
					span 新手入门
					a(href="introduce.html").know 了解精英吧 >
					ul
						li
							a(href="introduce.html")
								img(src="../img/lilun.png")
								img(src="../img/lilun2.png").noshow
								p 1. 理论知识
						li
							a(href="introduce.html")
								img(src="../img/daniu.png")
								img(src="../img/daniu2.png").noshow
								p 2. 大牛答疑
						li
							a(href="introduce.html")
								img(src="../img/zaixian.png")
								img(src="../img/zaixian2.png").noshow
								p 3. 在线评估
						li
							a(href="introduce.html")
								img(src="../img/assess.png")
								img(src="../img/assess2.png").noshow
								p 4. 线下实训		
					div.bian.b2
					ol
						li
							a(href="introduce.html") 奖学
						li
							a(href="introduce.html") 就业
						li
							a(href="introduce.html") 圈子
			article.jieshao
				ul
					li
						img(src="../img/shu.png")
						span 课程学习
						p 采用在线教学模式,学习理<br>论课程,让你快速完成理论<br>知识的搭建
						div
					li
						img(src="../img/xue.png")
						span 学习指导
						p 不知道该学什么，我们<br>将有在线职业规划师为<br>你进行学习指导
						div
					li
						img(src="../img/wen.png")
						span 有问必答
						p 利用手机通过算法将你<br>的问题推送给老师，一<br>对一为你实时解答
						div
					li
						img(src="../img/shou.png")
						span 招聘就业
						p 我们鼓励学习，学习达<br>标的学员我们向企业推<br>荐
						div
					li
						img(src="../img/dai.png")
						span 带你走进互联网
						p 行业专家为你提供最新<br>最前沿的互联网思维和<br>讯息，快速了解互联网
			article.course
				span 精英吧在线课程
				ul
					li
						a(href="course.html")
							img(src="../img/tubiao1.png")
					li.show
						img(src="../img/tubiao2.png")
						div.mask 正在录制，敬请期待！
					li.show
						img(src="../img/tubiao3.png")
						div.mask 正在录制，敬请期待！
					li.show
						img(src="../img/tubiao4.png")
						div.mask 正在录制，敬请期待！
					li
						img(src="../img/tubiao5.png")
			article.way
				h2 不一样的学习方式：你学习的不仅仅是技能
				ul
					li
						img(src="../img/xue1.png")
						span 同学一起学
						p 精准的算法，让你在学习的道路上不孤单，<br>和志同道合，能力相当的同学为伴一起在学<br>习的路上打怪升级，刷副本。
					li
						img(src="../img/xue2.png")
						span 学习顾问指引
						p 贴心的学习顾问，当你遇到困难，学习动力<br>不足，对学习方向和未来迷茫，出手相助。
					li
						img(src="../img/xue3.png")
						span 奖学制度
						p 每个时代都需要天才，但是也需要勤奋刻苦<br>的人才，对，就是你，你学的好，我们就要<br>奖励你，我们要助推你成为社会的精英。
					li
						img(src="../img/xue4.png")
						span 有问必答
						p 遇到困难不要怕，上千名认证专家在线支持<br>答疑，只要你提问，我们就回答。
			article.user
				h2 目前我们共有超过<span>20000</span>注册学习用户
				h3 目前已经有超过10000名学生就业
				ul
					li
						div.le
						div.ri
						img(src="../img/ren1.png")
						p 王*<br>北京嘉丁母婴健康科技<br>iOS开发工程师
						h4 薪资
						strong 12000元/月
					li
						div.le
						div.ri
						img(src="../img/ren2.png")
						p 孙**<br>北京海游科技<br>Cocos2d-x
						h4 薪资
						strong 12000元/月
					li
						div.le
						div.ri
						img(src="../img/ren3.png")
						p 陈**<br>软通动力<br>iOS开发工程师
						h4 薪资
						strong 11000元/月
					li
						div.le
						div.ri
						img(src="../img/ren4.png")
						p 刘*<br>众信利华<br>iOS开发工程师
						h4 薪资
						strong 12000元/月
					li
						div.le
						div.ri
						img(src="../img/ren5.png")
						p 孙*<br>国富商通<br>iOS开发工程师
						h4 薪资
						strong 10000元/月
			article.jigou
				h2 合作机构
				div.can
					ul
						li
							a(href="http://www.baidu.com")
								img(src="../img/bdu.png")
						li
							a(href="http://www.cntv.cn/")
								img(src="../img/cctv.png")
						li
							a(href="http://www.sina.com.cn/")
								img(src="../img/xinl.png")
						li
							a(href="http://www.10010.com/sh/")
								img(src="../img/liant.png")
						li
							a(href="http://sh.sofang.com/")
								img(src="../img/souf.png")
						li
							a(href="http://www.pingan.com/")
								img(src="../img/pan.png")
						li
							a(href="http://bank.ecitic.com/")
								img(src="../img/zxin.png")
						li
							a(href="http://www.cyzone.cn/")
								img(src="../img/cye.png")
						li
							a(href="http://www.le.com/")
								img(src="../img/les.png")
						li
							a(href="http://www.tiexue.net/")
								img(src="../img/juns.png")
					a(href="#").click.prev <
					a(href="#").click.next >
		include footer.jade
	script(type="text/javascript",src="../js/index.js")