doctype
html
	head
		meta(charset="utf-8")
		title 简介
		link(rel="styleSheet",href="../css/command.css")
		link(rel="styleSheet",href="../css/introduce.css")
	body
		include header.jade
		section
			div.left
				div.letop 目录
				div.leboo
					a(href="#") 什么是精英吧
			div.right
				h1 引燃了秒拍和小咖秀之后，移动直播会不会是下一场狂欢？
				div.xd
				small 6小时前
				small.small2 来自tech web
				p.p1  题图是今年5月，英国凯特王妃产子，CNN 皇家记者 Max Foster 通过手机直播 App—Periscope 与无数关注英国皇室的网友实时<br>互动，并直播威廉王子和凯特王妃如何带着小公主夏洛特离开圣玛丽医院。
				img(src="../img/xia.png")
				p.p2 而现在，这股移动端视频直播的风潮也渐渐吹到了国内。
				p.p3 11月24日，秒拍、小咖秀的母公司 “一下科技” 宣布，已完成由新浪微博领投，红杉资本、韩国 YG 娱乐等知名投资机构跟投的 2 <br>亿美元 D 轮融资。本次融资后，“一下科技” 估值超过 10 亿美元。
				p.p4 如果说，去年九月拿到新浪、Star VC 和 KPCB 投的 C 轮投资的时候，秒拍还在努力培养 4G 环境下人们的短视频习惯，一年之后<br>，他们已经确定下一个爆点一定会是移动端直播平台。<br>“一下科技” 将把此轮一半的融资投入到开发视频直播领域，在已有的秒拍和小咖秀基础上，打通短视频、微博和直播的关系。用户可以<br>通过直播 App 发起直播，在 App 或微博上观看和互动。在未来的直播产品中，用户可以直接在微博的信息流内观看直播并交互，而无须<br>跳到第三方页面，秒拍和微博的交互数据将完全打通。
		include footer.jade


