doctype
html
	head
		meta(charset="utf-8")
		title 加入我们
		link(rel="styleSheet",href="../css/command.css")
		style.
			section{
				width:1225px;
				height:1647px;
				margin:30px auto;
				position:relative;
			}
			aside{
				width:171px;
				height:336px;
				background:#fff;
				position:absolute;
			}
			aside ul li{
				width:171px;
				height:48px;
				box-sizing:border-box;
				padding-left:22px;
				line-height:48px;
				font-size:14px;
				color:#333333;
				position:relative;
			}
			aside ul li a{
				display:block;
				width:171px;
				height:48px;
				box-sizing:border-box;
				padding-left:22px;
				line-height:48px;
				font-size:14px;
				color:#333333;
				position:absolute;
				top:0px;left:0px;
			}
			.cate{
				padding-left:20px;
				border-left:2px solid #29b572;
				background:#fafafa;
			}
			.join{
				width:1040px;
				height:1647px;
				box-sizing:border-box;
				padding:0 36px;
				background:#fff;
				position:absolute;
				left:185px;top:0px;
			}
			.dib{
				width:968px;
				height:1px;
				background:#e8e8e8;
				position:absolute;
				top:94px;
			}
			.join h2{
				font-size:26px;
				color:#333333;
				position:absolute;
				top:48px;
			}
			.join span{
				font-size:16px;
				color:#333333;
			}
			.join p{
				font-size:14px;
				color:#333333;
				line-height:20px;
			}
			.cpin{
				position:absolute;
				top:134px;left:67px;
			}
			.web{
				position:absolute;
				top:509px;left:67px;
			}
			.php{
				position:absolute;
				top:885px;left:67px;
			}
			.ui{
				position:absolute;
				top:1239px;left:67px;
			}
			.join .p1{
				position:absolute;
				top:183px;left:67px;
			}
			.join .p2{
				position:absolute;
				top:561px;left:67px;
			}
			.join .p3{
				position:absolute;
				top:933px;left:67px;
			}
			.join .p4{
				position:absolute;
				top:1288px;left:67px;
			}
	body
		include header.jade
		section
			aside
				ul
					li
						span 目录
					li
						a(href="caixin.html") 才信教育简介
					li
						a(href="contact.html") 联系我们
					li
						a(href="join.html").cate 加入我们
					li
						a(href="question.html") 常见问题
					li
						a(href="#") 版权声明
					li
						a(href="#") 服务条款
			div.join
				h2 加入我们，让我们一起干一点改变教育的事
				div.dib
				span.cpin 产品经理
				p.p1 北京/全职/经验1-3年/大专及以上<br>职位描述：<br>1、负责相关产品功能体系的规划、实施及产品生命周期管理；<br>2、负责产品的需求分析、可行性分析、产品文档撰写、原型设计等，详细阐述产品功能和操作流程；<br>3、联络、协调与支持产品相关的内部与外部人员（技术、市场、商业合作等）；<br>4、协助制定产品运营指标，进行效果分析与质量提升，跟进产品运营；<br>5、跟踪产品开发进度，完成产品的开发、测试、版本管理等相关工作。<br>任职资格：<br>1、正规院校全日制大专以上学历，具有良好的沟通、表达和文案能力；<br>2、性格开朗，心态良好，能承受工作压力；<br>3、1-3年产品经理工作经验，具有在线教育或者相关教育行业等产品经验，或者大型网站项目经验者优先；<br>4、具备较强的分析、策划、推广能力和一定的产品宣讲、说服能力以及合同谈判能力；<br>5、有强烈的事业心和成就欲望，对教育行业情有很强的兴趣，具备团队意识，善于组织、协调资源达成目标；<br>6、工作地点北京海淀清河。<br>联系方式：周先生<br>邮件:870480661@qq.com<br>
				span.web web前端工程师
				p.p2 北京/全职/经验1~3年/大专及以上<br>职位描述：<br>1、以产品原型为主要依据，进行web前端开发；<br>2、优化页面下载速度，提高用户体验及交互效果, 代码要有利于搜索引擎优化,考虑安全性；<br>3、领导小规模的web前端开发团队，改进前端工作流程，提升团队工作效率；<br>4、同UI、后端工程师紧密合作，高效的完成开发任务。<br>任职资格：<br>1、正规院校全日制大专以上学历<br>2. 一年以上web应用工作经验<br>3. 具备丰富的javascript、H5、HTML、CSS编程经验<br>4. 良好的系统分析和设计能力、熟悉后端技术<br>5. 熟悉JQuery、NodeJs,熟悉GIT等版本管理工具<br>6. 良好的沟通表达能力、团队协作能力，对工作有热情<br>7、工作地点北京海淀清河；<br>联系方式：周先生<br>邮件：870480661@qq.com
				span.php PHP工程师
				p.p3 北京/全职/经验1~3年/大专及以上<br>岗位职责：<br>1、团队协作完成业务平台PHP程序的前后台程序开发；<br>2、参与制定网站业务流程，交互式网站架构接口设计、开发及文档编写；<br>3、PHP、Ajax、js代码编写和调试，Mysql数据库设计与开发。<br>任职要求：<br>1、3年左右PHP开发经验，熟练运用面向对象思想，能够独立编写中等规模PHP应用程序；<br>2、精通PHP＋mysql编程；<br>3、熟悉web前端开发技术包括javascript、Ajax／jQuery、CSS和HTML；<br>4、具有MYSQL索引优化、查询优化和存储优化，或PHP缓存技术方面的经验者优先；<br>5、具有良好的代码习惯，要求结构清晰，命名规范，逻辑性强，代码冗余率低，有撰写详细的编码注释的习惯；<br>6、有良好的团队合作精神和缜密的逻辑思维；<br>7、对自己严格要求，具备严谨负责的工作态度。<br>联系方式：周先生<br>邮件：870480661@qq.com
				span.ui UI设计师
				p.p4 北京/全职/经验1~3年/大专及以上<br>岗位职责：<br>1、分析流行趋势，针对公司产品提出设计及创意策略，负责公司产品的整体UI设计；<br>2、负责从视觉和操作层面对公司产品的风格进行把控，并负责页面内容的设计；<br>3、负责公司产品线的风格设计规划和整理；<br>4、结合用户体验，优化完善设计，制定可行的产品品质提升方案。<br>职位描述<br>1、 熟知移动端主流平台(Android，IOS)的设计规范；<br>2、 熟练掌握Photoshop、Illustrator、Sketch等主流设计软件；<br>3、 1年以上移动端UI设计经验，等独立完成UI设计、设计规范制定，有创新能力<br>4、具有深厚的美术功底和良好的创意构思能力，对色彩有深刻的把握力、独特的设计风格、独到的创意视点与创新意识；<br>5、 请提供作品集或作品链接<br>联系方式：周先生<br>邮件：870480661@qq.com
		include footer.jade