doctype
html
	head
		meta(charset="utf-8")
		title 提问
		link(rel="styleSheet",href="../css/command.css")
		style.
			.one{
				width: 100%;
				height: 705px;
				background: url(../img/questions1.jpg);
				background-repeat: no-repeat;
			}
			.two{
				width: 100%;
				height: 647px;
				background: url(../img/questions2.png);
				background-repeat: no-repeat;
			}
			.three{
				width: 100%;
				height: 647px;
				background: url(../img/questions3.png);
				background-repeat: no-repeat;
			}
			.four{
				width: 100%;
				height: 806px;
				border-bottom: 1px solid #e8e8e8;
				background: url(../img/questions4.png);
				background-repeat: no-repeat;
			}
	body
		include header.jade
		section
			div.one
			div.two
			div.three
			div.four
		include footer.jade