section{
    width: 1232px;
    margin: 30px auto;
    min-height: 610px;
}
section .aside li a{
    display: block;
    height: 64px;
    width: 184px;
    box-sizing: border-box;
    padding-left: 49px;
    line-height: 64px;
    background: #fff;
    color: #65707a;
    position: relative;
}
section .aside li a span{
    width: 0px;
    border-width: 7px;
    border-color:transparent transparent #ff6d26;
    border-style:solid;
    position: absolute;
    top: 26px;right: 25px;
    transform: rotate(90deg);
    display: none;
}
section .aside li a.active{
    color: #fb6c03;
    background: #fafafa
}
section .aside li a.active span{
    display: block;
}
section .list{
    margin-left: 24px;
}
section .list .top li{
    float: left;
    margin-top: 3px;
}
section .list .top li a{
    display: block;
    width: 180px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16px;
    color: #65707a;
}
section .list .top li .active{
    color: #fb6c03;
    border-bottom: 2px solid #fb6c03;
}
.list .below li .none{
    width: 398px;
    height: 177px;
    margin-top: 85px;
    margin-left: 270px;
}
.list .below li a{
    display: block;
    width: 1022px;
    height: 190px;
    margin-top: 20px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
}
.list .below li a:hover{
    border: 1px solid #fb6c03;
}
.list .below li a img{
    float: left;
    width: 300px;
    height: 150px;
    border: 1px solid #e5e5e5;
    margin: 19px 22px 19px 20px;
}
.list .below li a .info{
    float: left;
    width: 476px;
    margin: 24px 0px 19px 0px;
}
.list .below li a .info h2{
    color: #65707a;
    font-size: 20px;
    margin-bottom: 2px;
}
.list .below li a .info small{
    color: #989da2;
    font-size: 12px;
}
.list .below li a .info .sml{
    margin-left: 20px;
}
.list .below li a .info i{
    font-style: normal;
    color: #fb6c03;
    font-size: 12px;
}
.list .below li a .info p{
    color: #65707a;
    margin-top: 12px;
    overflow: hidden;
    max-height: 62px;
    line-height: 22px;
}
.list .below li a .money{
    float: right;
    width: 130px;
    float: right;
    text-align: right;
    margin: 32px 26px 0px 0px;
}
.list .below li a .money em{
    display: block;
    color: #c3c8cd;
    font-size: 20px;
    font-style: italic;
    text-decoration: line-through;
}
.list .below li a .money i{
    color: #fb6c03;
    font-size: 20px;    
}


.page{
	width: 1232px;
	margin-top: 50px;
	text-align: right;
}
.page a{
	color: #8194a6;
    font-size: 12px;
    margin-right: 14px;
}
.page a:hover{
	color: #c3c8ce;
	text-decoration: underline;
}
.page .num input{
	width: 50px;
    height: 20px;
    color: #8194a6;
    margin: 0px 5px;
    text-align: center;
    display: inline-block;
    border: 1px solid #c9c9c9;
    background: #ffffff !important;
}
.page span{
	color: #8194a6;
    font-size: 12px;
}





















