@import "reset";
@import "head";
@import "foot";
@import 'login';
.lunbo{
    margin-bottom: 112px;
}
.content{
    margin-bottom: 77px;
    h2{
        font-size:26px;
        line-height: 78px;
        margin:0 auto 24px;
        width:1300px;
        text-align: center;
        color: #999;
    }
    ul{
        padding:0 14px;
        overflow: hidden;
        width:1300px;
        margin:0 auto;
        li{
            float: left;
            margin:0 14px 76px;
            position: relative;
            cursor: pointer;
            .top{
                width:405px;
                height:405px;
                position: relative;
                overflow: hidden;
                img{
                    width:100%;
                    height:100%;
                }
                div{
                    width:405px;
                    text-align: center;
                    position: absolute;
                    bottom:-96px;
                    background: rgba(255,255,255,.7);
                    -webkit-transition: 1s;
                    -moz-transition: .51s;
                    -ms-transition: .51s;
                    -o-transition: .51s;
                    transition: .51s;
                    a{
                        color: #666;
                        font-size: 21px;
                        line-height: 96px;
                    }
                }
                &:hover{
                    div{
                        bottom:0;
                    }
                }
            }
            .top_null{
                width:405px;
                height:405px;
                text-align: center;
                line-height: 405px;
                color: #fff;
                background: rgba(0,0,0,.7);
                position: absolute;
                top:0;
                font-size: 34px;
                display: none;
            }
            .bottom{
                text-align: center;
                a{
                    font-size: 20px;
                    line-height: 63px;
                    color: #999;
                }
            }
        }
    }
}


