@import "reset";
@import "head";
@import "foot";
@import 'login';
.pic_show{
    margin:68px auto;
    width:1340px;
    overflow: hidden;
    position: relative;
    .big{
        position: relative;
        float: left;
        margin-right: 20px;
        width:593px;
        height:580px;
        li{
            width:593px;
            height:580px;
            position: absolute;
            display: none;
            img{
                width:100%;
                height:100%;
            }
        }
        .active{
            display: block;
        }
        .control{
            width:200px;
            height:200px;
            background: rgba(0,0,255,.3);
            cursor:move;
            position: absolute;
            display: none;
        }
    }
    ol{
        float: left;
        width:100px;
        margin-right: 72px;
        li{
            width:100px;
            height:100px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border:1px solid white;
            cursor: pointer;
            img{
                width:100%;
                height:100%;
            }
        }
        .last{
            margin-bottom: 0;
        }
    }
    .view{
        width:400px;
        height:400px;
        overflow: hidden;
        position: absolute;
        z-index: 1;
        left:730px;
        display: none;
        .view_box{
            position: relative;
            li{
                width:1186px;
                height:1160px;
                position: absolute;
                display: none;
                img{
                    width:100%;
                    height:100%;
                }
            }
            .active{
                display: block;
            }
        }

    }
    .info{
        float: left;
        color: $lightColor;
        text-align: center;
        width:550px;
        .top{
            overflow: hidden;
            h2{
                font-size: 54px;
            }
            p{
                font-size: 34px;
            }
            a{
                font-style: italic;
                font-size:16px;
                color: $lightColor;
                border-bottom:1px solid $lightColor;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .bottom{
            overflow: hidden;
            .title{
                line-height: 38px;
                font-size: 21px;
                margin-top: 108px;
                width:550px;
            }
            .box{
                border:2px solid #c7c8c8;
                overflow: hidden;
                padding:14px;
                width:270px;
                margin:0 auto 36px;
            }
            .color{
                width:49px;
                height:49px;
                padding:2px;
                margin-right: 18px;
                float: left;
                border:1px solid #4b4b4b;
                font-size: 16px;
                img{
                    width:47px;
                    height:47px;
                }
            }
            p{
                float: left;
            }
            .style{
                position: relative;
                top: 5px;
            }
            .addmore{
                display: block;
                width:302px;
                height:68px;
                margin:0 auto;
                background: #9d6f89;
                color: #fff;
                font-size: 21px;
                line-height: 68px;
                &:hover{
                    text-decoration: none;
                }
            }
            .sendcharge{
                line-height: 68px;
                text-align: center;
                float: none;
                font-size: 16px;
            }
        }
    }
}
.content{
    overflow: hidden;
    width:1330px;
    margin:0 auto 40px;
    font-family:"Times New Roman";
    color: #444;
    ul{
        width:370px;
        margin-right: 50px;
        float: left;
        h4{
            line-height: 50px;
            font-weight: bold;
        }
        li{
            list-style: disc;
            list-style-position: inside;
        }
        a{
            color: #d8846a;
        }
    }
}
.fromPeople{
    width:1316px;
    margin:0 auto;
    border-top: 2px solid #ddd;
    h4{
        line-height: 58px;
        font-weight: bold;
        font-family: "Times New Roman";
        text-align: center;
    }
    ul{
        overflow: hidden;
        li{
            border:2px solid #ddd;
            box-sizing: border-box;
            width:234px;
            height:234px;
            margin-right: 36px;
            float: left;
            img{
                width:100%;
                height:100%;
            }
        }
        .last{
            margin-right: 0;
        }
    }
    .ditails{
        width:1314px;
        margin:36px auto 60px;
        img{
            width:100%;
        }
    }
}